{% extends 'base.html' %}

{% block title %}Sahifa topilmadi!{% endblock title %}
{% block content %}
    <div class="card">
      <div style="color: red;" class="card-header">
        404
      </div>
      <div class="card-body">
        <h5 style="color: red;" class="card-title">Bunday sahifa topilmadi!</h5>
        <p style="color: red;" class="card-text">Bosh sahifaga qaytish uchun ushbu tugmani bosing</p>
        <a href="{% url 'home' %}" class="btn btn-primary">Bosh sahifa</a>
      </div>
    </div>
{% endblock %}