{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock %}
{% block content %}
<div class="card" style="width: 90%;">
  <div class="card-body">
    <h1 class="card-title">{{post.title}}</h1><br>
    <h5>{{ post.summary }}</h5>
  </div>
    {% if post.image %}
  <img src="{{ post.image.url }}" class="card-img-top" alt="..."><br>
    {% endif %}
  <div class="card-body">
    <p class="card-text">{{post.body|safe}}</p>
    <a href="/" class="btn btn-primary">Bosh sahifa</a>
    {% if user.is_authenticated and author == username %}
    <a href="{% url 'edit' post.id %}" class="btn btn-warning">Tahrirlash</a>
    <a href="/post/{{ post.id }}/delete/" class="btn btn-danger">O'chirish</a>
    {% endif %}
  </div>
  <div class="card-footer">
    <small class="text-muted">Sana: {{ post.time }} | Muallif: {{ post.author|title }}</small>
    <hr>
    <small class="text-muted">Comments</small>
    <div class="card">
      {% for comment in post.comments.all %}
      <div class="card-body">
        <h5>{{ comment.comment }}</h5>
        <small class="text-muted">{{ comment.author }}</small>
        <hr>
      </div>
      {% endfor %}
    </div>
  </div>
</div><br><br>
{% if user.is_authenticated %}
  <h3>New comment</h3>
  <form action="" method="post">{% csrf_token %}
    <div class="mb-3">
      <textarea required name="n_comment" class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea><br>
      <button class="btn btn-success" type="submit">Comment</button>
    </div>
  </form>
{% endif %}

{% endblock content %}